<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>管理者TOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <header style="height: 120px; background: url(<%= image_path 'rhythm_raiders_logo2.jpg' %>) no-repeat right; background-size: 500px 120px;">
      <div class="container">
        <h1 class="display-4">管理者TOP</h1>
      </div>
    </header>
    <style>
      body {
        font-family: 'Georgia', serif;
        font-weight: bold;
        font-style: italic;
      }
    </style>
    <div class="container">
      <div class="jumbotron mt-4 text-center">
        <%= image_tag "cai-fang-WoG139ylZJs-unsplash.jpg", alt: "Background Image", style: "width:100%; height: 300px;" %>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header text-center">管理者LOG IN</div>
            <div class="card-body">
              <form action="/admin/sign_in" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                  <div class="col-md-6">
                    <input type="email" id="email" class="form-control" name="email" required autofocus>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                  <div class="col-md-6">
                    <input type="password" id="password" class="form-control" name="password" required>
                  </div>
                </div>

                <div class="col-md-auto d-flex content-center">
                  <div style="border: 1px solid black; padding: 10px; margin-right: 10px;">
                    <h1>Hello, world of Music!</h1>
                  </div>

                  <button type="submit" class="btn btn-primary" style="width: 225px; height: 80px;">
                    <h3>LOG IN</h3>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <p>©20231225 Rhythm RAIDERS</p>
      </div>
    </footer>
  </body>
</html>
