<div class="table-responsive">
  <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; margin-top: 20px; margin: 0 auto; width: 95%;">
    <h2 style="text-align: center; color: orange;">投稿楽曲編集</h2>
    <div style="margin-left: auto; margin-right: auto; width: 50%;">
      <% if @post.present? %>
        <%= form_with(model: @post, url: admin_post_path(@post), local: true) do |form| %>
          <!-- 投稿楽曲編集フォーム -->
          <p style="word-wrap: break-word;"><strong style="color: orange;">Music Title:</strong> <%= @post.music_title %></p>
          <p style="word-wrap: break-word;"><strong style="color: orange;">Music Genre:</strong> <%= @post.music_genre %></p>
          <p style="word-wrap: break-word;"><strong style="color: orange;">A word from the creater:</strong> <%= @post.creater_word %></p>
        <% end %>
      <% else %>
        <p>投稿楽曲が存在しません。</p>
      <% end %>
    </div>
  </div>
</div>
