<div class="suspend>
  <h1>利用停止のお知らせ</h1>
  <p>私たちはあなたのアカウントについて、他のユーザーに対する不適切なコメントがあったという報告を受け取りました。</p>
  <p>私たちはすべてのユーザーに対して、尊重と公正を基本としたコミュニティを提供することを目指しています。</p>
  <p>したがって、私たちのガイドラインに違反する行為は許容できません。このため、あなたのアカウントは一時的に利用停止とさせていただきます。</p>
  <p>私たちはあなたが再度私たちのコミュニティに参加する際には、他のメンバーに対して尊重と理解を持って接することを期待しています。</p>
  <p>ご理解とご協力をお願いいたします。</p>
  <p>Notice of Suspension</p>
  <p>We have received reports about your account regarding inappropriate comments made towards other users.</p>
  <p>We aim to provide a community that is based on respect and fairness for all users.</p>
  <p>Therefore, we cannot tolerate actions that violate our guidelines. For this reason, your account has been temporarily suspended.</p>
  <p>We expect that when you rejoin our community, you will interact with other members with respect and understanding.</p>
  <p>Thank you for your understanding and cooperation.</p>
  </div>

  <div class="bottomtext">
    <p>©20231225 Rhythm RAIDERS</p>
  </div>

  <div class="bottomlogo">
    <%= image_tag("rhythm_raiders_logo2.jpg", alt: "Rhythm Raiders Logo") %>
  </div>
</body>