<div class="about">
    <div class="content">
        <p><h3>Site Overview<h3></p></br>
        <p><h5>主な利用シーン</h5></p></br>
        <p>・新曲の投稿：制作者が新しい作品を投稿し、音楽コミュニティと共有する時。</p></br>
        <p>・音楽の探索：メンバーが新しい音楽を探し、自分の音楽に対する情熱を充実させたい時。</p></br>
        <p>・フィードバックの交換：制作者とファンが意見や感想を交換し、互いの視点を深める時。</p></br>
        <p>・コミュニティ参加：同じ興味を持つメンバーと交流し、音楽に対する共通の理解を深める時。</p></br>
        <p><h5>著作権に関する方針</h5></p></br>
        <p>このサイトは、著作権に配慮した形で運営されます。具体的には、以下のような方向性を持っています。</p></br>
        <p>・著作権の尊重: すでにゲームで使用されている楽曲の共有は基本的に避けます。これは、著作権者の許可なく楽曲を共有することが法的な問題を引き起こす可能性があるためです。また、著作権者が本来得られる利益（音楽の購入、サブスクリプションでの聴取など）が失われることを防ぎます。</p></br>
        <p>・オリジナル音楽の推奨: サイトは、制作者が自身のオリジナル作品を共有する場として機能します。これにより、制作者は自身の音楽を広め、フィードバックを得ることができます。また、ファンは新しい音楽を発見し、お気に入りの制作者とつながることができます。</p></br>
        <p>・著作権フリー音楽の共有: ゲームに関連する著作権フリーの音楽を共有することも可能です。これにより、ゲーム開発者は新しいプロジェクトのために音楽を探すことができます。</p></br>
        <p>以上の方向性により、「Rhythm RAIDERS」は法的な問題を避けつつ、ゲーム音楽制作者とファンが安全に交流できる場を提供します。私たちは、全てのがこのサイトを通じて音楽とゲームへの情熱を共有できることを願っています。</p>
    </div>
    <div class="content">
        <p><h3>Site Overview Key Usage Seenarios:</h3></p></br>
        <p>・New Song Submission: When creators post new works to share with the music community.</p></br>
        <p>・Music Discovery: When users want to enrich their passion for music by finding new songs.</p></br>
        <p>・Feedback Exchange: When creators and fans exchange opinions and deepen their perspectives.</p></br>
        <p>・Community Participation: When users with the same interests interact and deepen their understanding of music.</p></br>
        <p><h5>Copyright Policy: This site operates with respect for copyright. Specifically, it has the following directions:</h5></p></br>
        <p>・Respect for Copyright: We generally avoid sharing songs already used in games. This prevents potential legal issues and loss of profits for copyright holders.</p></br>
        <p>・Promotion of Original Music: The site serves as a platform for creators to share their original works, allowing them to spread their music and receive feedback. Fans can discover new music and connect with their favorite creators.</p></br>
        <p>・Sharing of Copyright-Free Music: It’s possible to share copyright-free music related to games. This allows game developers to find music for new projects.</p></br>
        <p>With these directions, ‘Rhythm RAIDERS’ provides a safe space for game music creators and fans to interact while avoiding legal issues. We hope all users can share their passion for music and games through this site.</p>
    </div>
    <%= image_tag("rhythm_raiders_logo2.jpg", alt: "Rhythm Raiders Logo", class: "logo") %>
    <div class="copyright">
        <p>©20231225RhythmRAIDERS</p>
    </div>
</div>