<div class="withdraw">
  <div class="content">
    <%= image_tag("rhythm_raiders_logo2.jpg", alt: "Rhythm Raiders Logo") %>

    <h1>退会完了</h1>

    <p style="margin-top: 10px;">
      "Rhythm RAIDERS"をご利用いただき、誠にありがとうございました。<br>
      あなたの音楽の旅がこれからも素晴らしいものでありますように。<br>
      もし再び私たちと一緒に音楽を楽しみたくなったら、いつでもお戻りいただけます。<br>
      あなたの再会を心からお待ちしております。<br>
      Unsubscription complete. Thank you for using Rhythm RAIDERS. We wish you a wonderful musical journey ahead. Feel free to return and join us in the music anytime. We look forward to your comeback.
    </p>

    <%= link_to 'Back to Home', member_top_path, method: :get, class: "button" %>

    <p style="margin-top: 30px;">
      Thank you! You’re always welcome to come back!
    </p>
  </div>

  <div class="bottomtext">
    <p>©20231225 Rhythm RAIDERS</p>
  </div>
</div>
