@use '~bootstrap/scss/bootstrap';


.content {
    width: 45%;
    margin: 20px;
}
.content p {
    font-style: italic;
    font-weight: bold;
}
.logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.copyright {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

body, .card {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
  background-color: #000000; /* ダークカラー */
  color: #ffffff; /* テキストカラー */
}

.about {
  color: white;
  text-shadow: -1px 0 gray, 0 1px grey, 1px 0 grey, 0 -1px #323232;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  text-align: justify;
  background-image: url('/images/peter-herrmann-qz81BQY9h1g-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.white-text {
    color: #ffffff;
  }