@use '~bootstrap/scss/bootstrap';

.cover-member-edit {
  height: 100%;
  width: 100%;
  background-image: url(/images/dragoon1.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.profile-img {
  border-radius: 50%;
}

/* 定義した色 */
$dark-blue: #4267B2;
$light-blue: #89CFF0;
$dark-orange: #FF4500;
$light-orange: #FFA500;

/* ゲスト用楽曲一覧 */
.guest-index {
  align-items: center;
  height: 100vh;
  text-align: justify;
  background-image: url('/images/dragoon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.audio-player {
  width: 100%;
}

.track-card {
  border: 1px solid white;
  background: linear-gradient(to left, #000000, #434343, #808080, #C0C0C0);
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px 10px 5px; /* 上、右、下。左 */
}

.track-info {
  border-radius: 15px;
  padding: 20px;
  background: linear-gradient(to right, $dark-orange, $light-orange);
  width: 100%;
}

.audio-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-outline-secondary1 {
  background: linear-gradient(to bottom, #008000, #000000);
  color: white;
  border: none;
  margin-left: 10px;
  margin-top: 30px;
  padding: 5px 10px; /* ボタンの大きさを横長にする */
}

.stop-button {
  background: linear-gradient(to bottom, $dark-orange, $light-orange);
  color: white;
  margin-left: 10px;/* Previewボタンとの間隔を調整 */
  margin-top: 30px;
}

/* 本メンバー用の一覧 */
.member-index {
  align-items: center;
  height: 100vh;
  text-align: justify;
  background-image: url('/images/28350918_m.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  text-align: center;
}

.navbar .button {
  margin: 0 10px;
}

/* いいね機能 */
.like-button {
  background: linear-gradient(to bottom, $dark-blue, $light-blue); /* ボタンの背景色を濃い青から薄い青のグラデーションに */
  color: white; /* テキストの色 */
  border: none; /* ボーダーを非表示に */
  margin-left: 10px; /* 左マージンを設定 */
  margin-top: 30px; /* 上マージンを設定 */
  padding: 5px 10px; /* ボタンの大きさを横長にする */
  white-space: nowrap; /* テキストを1行で表示する */
  cursor: pointer; /* マウスカーソルをポインターに */
  border-radius: 12px; /* 角を丸く */
}

.like-button:hover {
  background: linear-gradient(to bottom, $dark-orange, $light-orange); /* マウスオーバー時の背景色を逆のグラデーションに */
}

.flash-message {
  position: fixed;
  top: 5%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: auto;
  padding: 20px;
  text-align: center;
}

.flash-message.flash-notice {
  background: linear-gradient(to top, black, grey);
  color: green;
}

.flash-message.flash-alert {
  background: linear-gradient(to top, black, grey);
  color: red;
}

.text-center {
  display: flex;
  justify-content: center;
}

/* ラジオボタン */
input[type='radio'] {
    transform: scale(1.8);
}

.content img {
  /* その他のスタイル */
  margin-bottom: 100px; /* 下側のマージンを追加 */
}

.content {
    width: 45%;
    margin: 20px;
    margin-bottom: 100px; /* 下側のマージンを追加 */
}
.content p {
    font-style: italic;
    font-weight: bold;
}
.logo {
    position: relative;
    top: 10px;
    right: 10px;
}
.copyright {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  background-color: #000000; /* ダークカラー */
  color: #ffffff; /* テキストカラー */
}

.card {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
  background-color: #000000; /* ダークカラー */
  color: #ffffff; /* テキストカラー */
}

.card-body {
  padding: 0 !important;
  margin-left: 5px;
}

.about {
  color: white;
  text-shadow: -2px 0 gray, 0 2px grey, 2px 0 grey, 0 -2px #323232;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
  flex-direction: row;
  text-align: justify;
  background-image: url('/images/peter-herrmann-qz81BQY9h1g-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.member_top, .member_login {
  color: white;
  text-shadow: -2px 0 gray, 0 2px grey, 2px 0 grey, 0 -2px #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-image: url('/images/281958-Sepik.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.search_top {
  color: white;
  text-shadow: -2px 0 gray, 0 2px grey, 2px 0 grey, 0 -2px #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-image: url('/images/cai-fang-WoG139ylZJs-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.member_top > * {
  margin-bottom: 50px;
  font-size: 25px;
}

input[type="submit"] {
  background-color: green;
  color: white;
}

.unsubscribe, .withdraw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("/images/jymy-duhomme-MVTtSqHibDs-unsplash.jpg");
  background-size: cover;
}

.white-text {
    color: #ffffff;
  }

.suspend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bottomlogo {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.bottomtext {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.button, .button2 {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px; /* 右側のマージンを追加 */
  text-align: center; /* テキストを中央揃えに */
}

.button {
  background-color: #008000; /* 緑色 */
}

.button2 {
  background-color: #FF0000; /* 赤色 */
}

.result-item, .back-button, h1, p {
  color: #ffffff; /* 黒色の文字 */
  text-shadow: 2px 2px #000000; /* グレーの縁取り */
}


@media only screen and (max-width: 768px) {
  /* ここに、画面の幅が768px以下の場合に適用するスタイルを記述します */
  .track-card, .search_top, .member_top, .unsubscribe, .withdraw, .suspend, .bottomlogo, .bottomtext, .button, .button2, .result-item, .back-button, h1, p,
  .track-info p, .flash-message, .text-center, .content p, .member_top, .member_login {
    font-size: 14px;
  }

  .svg {
    width: 100%;
    height: auto;
  }

  .track-info h3 {
    font-size: 2.5vw;
  }

  .like-button, .btn, .copyright {
    font-size: 1.5vw;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .content {
    width: 100%;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .about {
    font-size: 2vw;
  }
}




